# Arithmetic Operators

+ Addition
- Subtraction
* Multiplication
/ Division
// floor Division
% Modulus
** Power

In [4]:
2 + 5

7

In [5]:
2.0 + 5.0

7.0

In [6]:
2 + 5.0

7.0

In [7]:
"A" + "B"

'AB'

In [9]:
["Hamza", "Junaid"] + ["Abid", "Ali"]

['Hamza', 'Junaid', 'Abid', 'Ali']

In [10]:
("Hamza", "Junaid") + ("Abid", "Ali")

('Hamza', 'Junaid', 'Abid', 'Ali')

In [11]:
{"Hamza", "Junaid"} + {"Abid", "Ali"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [12]:
{1:"Hamza", 2:"Junaid"} + {3:"Abid", 4:"Ali"}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [13]:
5 - 2

3

In [14]:
4.2 - 3

1.2000000000000002

In [16]:
{5, 6, 7, 8} - {6, 7}

{5, 8}

In [17]:
{"A", "B", "C"} - {"B"}

{'A', 'C'}

In [15]:
[4, 5] - [2, 3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [18]:
2 * 4

8

In [19]:
"A" * 3

'AAA'

In [20]:
["A"] * 3

['A', 'A', 'A']

In [24]:
("A", "B") * 3

('A', 'B', 'A', 'B', 'A', 'B')

In [25]:
11 / 3

3.6666666666666665

In [26]:
12 / 3

4.0

In [28]:
"A" / "A"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [30]:
11 // 3

3

In [31]:
11 % 3

2

# Comparison (Relational) Operators

==
>
<
>=
<=
!=, <>

In [32]:
2 == 2

True

In [35]:
'A' == 'a'

False

In [36]:
5 > 3

True

In [38]:
"B" > "A"

True

In [39]:
ord("A")

65

In [40]:
ord("Z")

90

In [41]:
chr(65)

'A'

In [44]:
3 < 4

True

In [45]:
3 <= 3

True

In [47]:
'qasim' != "Qasim"

True

In [48]:
2 != 4

True

# Assignment Operators

=
+=
-=
*=
/=
//=
**=
%=

In [53]:
a = 5
a = 6
a = 7
print(a)

7

In [54]:
a = 1
a += 2
a += 3
a += 4
print(a)

10

In [55]:
a = 100
a -= 5
a -= 5
a -= 10
print(a)

80

In [2]:
a = 1
a *= 2
a *= 3
print(a)

6

In [6]:
a = 100
a /= 2
a /= 2
print(a)

25.0

In [4]:
a = 100
a //= 2
a //= 2
print(a)

25

In [7]:
a = 21
a %= 5
print(a)

1

In [9]:
a = 2
a **= 2
a **= 3
print(a)

64

In [10]:
a = "A"
a += "B"
print(a)

AB

In [11]:
a = [1, 2, 3]
a += [5, 6]
print(a)

[1, 2, 3, 5, 6]

In [12]:
a = (1, 2, 3)
a += (5, 6)
print(a)

(1, 2, 3, 5, 6)

In [13]:
a = {1, 2, 3}
a += {5, 6}
print(a)

TypeError: unsupported operand type(s) for +=: 'set' and 'set'

# Logical Operators

and &
or  |
not

In [14]:
True and True and True

True

In [15]:
True & True & True

True

In [16]:
True and False and True

False

In [19]:
user = input("Username: ")
password = input("Password: ")

user== "Admin" and password == "123"

Username: Admin
Password: 123

True

In [22]:
user = input("Username: ")
password = input("Password: ")

(user== "Admin") & (password == "123")

Username: Admin
Password: 123

True

In [1]:
user = input("Username: ")
password = input("Password: ")
(user == "Qasim" or \
 user == "Hamza" or \
 user == "Ali") and \
password == "123"

Username: Qasim
Password: 123

True

# Bitwise Operators

In [4]:
11100 & 11101

11100

In [7]:
11100 | 11101

11101

In [5]:
28 & 29 # bitwise and operator

28

In [6]:
28 | 29 # bitwise or operator

29

In [8]:
28 ^ 29 # bitwise xor operator

1

In [9]:
~29 # bitwise complement

-30

# Membership Operators

in
not in

old method

In [11]:
names = ["Ali", "Hamza", "Junaid", "Kashif"]
i = 0
while i < len(names):
    if names[i]=="Junaid":
        print(True)
        break
    i += 1

True

new method

In [12]:
names = ["Ali", "Hamza", "Junaid", "Kashif"]
"Kashif" in names

True

In [21]:
a = input("Please enter name: ")
"Pakistan" in a

Please enter name: asfddsfdfPakistanasfdsafd

True

In [18]:
names = ("Ali", "Hamza", "Junaid", "Kashif")
"Kashif" in names

True

In [19]:
names = {"Ali", "Hamza", "Junaid", "Kashif"}
"Kashif" in names

True

In [20]:
names = ["Ali", "Hamza", "Junaid", "Kashif"]
"Kashif" in names

False

In [22]:
'Ahmad' not in a

True

# Identity Operators

In [25]:
a = '5'
b = 5
c = '5'
print(a is b)
print(a is c)
print(id(a))
print(id(b))
print(id(c))

False
True
6147424
1527109936
6147424

In [26]:
id(a) == id(b)

False

In [27]:
id(a) == id(c)

True

# Control Flow
if
else
elif

Old
if (logic){
    value_if_True
}
else{
    value_if_False
}

Python
if logic:
    value_if_True
else:
    value_if_False

In [30]:
if True:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("Zindabad")

Pakistan
Pakistan
Pakistan

In [35]:
username = input("Enter username: ")
password = input("Enter password: ")
if username in ["Ahmad", "Mustafa", "Athar"] and password == "123":
    print("Valid User!")
else:
    print("Invalid User!")

Enter username: Ahmad
Enter password: 123
Valid User!